CLIENT_URL=
PORT=

CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=

MONGO_URI=

NODE_ENV=

JWT_REFRESH_SECRET=
JWT_ACCESS_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=